{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <div class="carousel">
            <h1> Alugue um carro agora</h1>

            <form class="form-inline">
                <div class="form-group">


                    <select name="cidade" class="form-control">
                        <option>Curitiba</option>
                        <option>Sao Paulo</option>
                        <option>Rio de Janeiro</option>
                    </select>
                </div>

                <div class="input-group input-daterange">
                    <input type="text" class="form-control" value="2012-04-05">
                    <span class="input-group-addon">to</span>
                    <input type="text" class="form-control" value="2012-04-19">
                </div>

                <button type="submit" class="btn btn-success">Pesquisar</button>
            </form>
        </div>
    </div>
{% endblock %}

{%block javascript %}
    <script type src="{{asset('js/bootstrap-datepicker.js.')}}" ></script>
    <script type src="{{asset('locales/bootstrap-datepicker.pt-BR.min.js')}}"></script>

    <script type="text/javascript">

       $(document).ready(function(){
           $('#datepicker')
       })
    </script>


{% endblock %}



